.maincont{
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
	background-color: #f3f4ff;
    margin-top: 0px;
}

.leftsec
{
    position: fixed;   
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    background-color: #ededed;
    width: 250px;
    height: 84vh;
    z-index: 1;
    margin-top: 70px;
    box-shadow: 10px 10px 10px #00000022;
    border-radius: 2px;
    border-right: 1px solid grey;
}

.hi_name{
    padding: 1rem;
    font-size: 1.5em;
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.user_name{
    font-weight: bolder;
    font-size: 1.5em;
}
.subsec{
    background-color: #e9ebee;
    width: 100%;
    padding: 0.6rem;
    text-align: center;
    border-bottom: 1px solid grey;
}