
.headerbox{
	box-shadow:  0 0 10px #00000055;
	width: 100%;
	padding: 1.5rem;
	position: fixed;
	top:0rem;
	font-size: 1em;
	font-weight: bold;
	color: black;
	background-color: #ffffffee;
	display: flex;
	justify-content: center;
	z-index: 5;
}


.logo{
	position: absolute;
	left: 3rem;
}

.linkbox a{
	text-decoration: none;
	color:#000;
	font-weight: normal;
	display: inline-block;
	margin: 0rem 0.8rem;
	font-size: 0.9em;
}

.linkbox form{
	display: inline;
}

.linkbox form button{
	background-color: #fff;
	display: inline;
	margin: 0rem 0.8rem;
	font-size: 0.9em;
	cursor: pointer;
}

@media (max-width: 100px){
	.linkbox{
		margin-top: 1.5rem;
		width: 100%;
	}
	.linkbox a{
		display: block;
		padding: 0.8rem 1rem;
		box-shadow: 4px 4px 5px #00000022;
		width: 100%;
	}

}

.get-started-btn-h{
	font-weight: normal;
	border: 3px solid #222;
	padding: 0.4rem;
	border-radius: 6px;
	background-color: #fff;
	position: absolute;
	right: 3rem;
	top: 1rem;
}
