.maincontent{
	margin:5rem auto;
	background-color: #ff006600;
	width: 90%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	min-height: 70vh;
}

.promo{
	text-transform: uppercase;
}

.title{
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bolder;
}

.get-started-btn-main{
	background-color: #000;
	color:#fff;
	padding: 0.8rem;
	border-radius: 5px;
}