.formcontainer{
	margin: 120px auto;
	padding: 1rem;
	background-color: #fff;
	border-radius: 5px;
	width: 100%;
	max-width: 400px;
	box-shadow: 10px 10px 20px #00000033;
}


.lhead{
	color: #03bbff;
	font-size: 2em;
	font-weight: bolder;
	margin-bottom: 0.5rem;
}

.lsubhead{
	color: #03bbff;
	font-weight: bold;
	margin-bottom: 1rem;
}


.inputcontainer input{
	outline: none;
	border:none;
	padding: 0.8rem 1rem;
	margin: 0.4rem 0rem;
	width: 100%;
	background-color: #fff;
}

.inputcontainer span{
	text-align: center;
	color: red;
	display: block;
	background-color: #fff;
}

.rmcontainer{
	display: flex;
	position: relative;
	margin-top: 1rem;
}

.rmcontainer label{
	margin-left: 0.5rem; 
}

.fp{
	position: absolute;
	right: 0px;
	background-color: #03bbff00;
}

.fp a{
	text-decoration: none;
	color:#1164b4;
}

.loginbtn{
	background-color: #03bbff;
	width: 100%;
	padding: 0.5rem;
	color: #fff;
	font-weight: bolder;
	margin-top: 1.5rem;
	border-radius: 5px;
}	

.nucontainer{
	display: flex;
	padding: 1rem;
	justify-content: center;
}

.nucontainer span{
	margin-left: 1rem;
}

.nucontainer span a{
	text-decoration: none;
	color:#1164b4;
}
